{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">Marks Records</h3>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Student</th>
            <th>Subject</th>
            <th>Marks</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for mark in marks %}
        <tr>
            <td>{{ mark.student.user.username }}</td>
            <td>{{ mark.subject }}</td>
            <td>{{ mark.marks }}</td>
            <td>{{ mark.date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">No marks records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
